<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}">    
    <title>Recipe</title>
</head>
<body>
    <div class="container">
    	<div class="name">Recipe App</div>
    	<ul>
    		<li><a href="#createUser">Creating a User</a></li>
    		<li><a href="#deleteUser">Deleting a User</a></li>
    		<li><a href="#getUser">Getting info about User/s</a></li>
    		<li><a href="#auth">Authentication</a></li>
    		<li><a href="#createRecipe">Add a new Recipe</a></li>
    		<li><a href="#deleteRecipe">Deleting a Recipe</a></li>
    		<li><a href="#getRecipe">Getting info about Recipe/s</a></li>
    	</ul>
    	<div id="createUser">
    		<h2>Creating a User</h2>
    		<p>To create a new user send a POST request to /users with appropriate JSON data</p>
    		<pre><code>{{codes.createUser}}</code></pre>
    	</div>
    	<div id="deleteUser">
    		<h2>Deleting a User</h2>
    		<p>To delete a user, send a DELETE request to /users/{username}</p>
    		<p>Only admin or the user can perform this action</p>
    		<pre><code>{{codes.deleteUser}}</code></pre>
    	</div>
    	<div id="getUser">
    		<h2>Getting User list</h2>
    		<p>To get a list of users, send a GET request to /users</p>
    		<p>Use query parameter 'query' to filter users based on name or username</p>
    		<p>Use query parameter 'count' to specify the number of users returned (max 30)</p>
    		<pre><code>{{codes.getUserList}}</code></pre>
    		<div class="spacer"></div>
    		<h2>Getting a specific user</h2>
    		<p>Send a GET request to /users/{username}</p>
    		<pre><code>{{codes.getUser}}</code></pre>
    	</div>
    	<div id="auth">
    		<h2>Getting an AuthToken</h2>
    		<p>To get an auth token, send a GET request to /auth_token</p>
    		<p>Note: Login credentials or existing auth-token needs to be provided</p>
    		<pre><code>{{codes.getAuthToken}}</code></pre>
    	</div>
    	<div id="createRecipe">
    		<h2>Adding a Recipe</h2>
    		<p>To add a new user send a POST request to /recipes with appropriate JSON data</p>
    		<p>Note: Login credentials or existing auth-token needs to be provided</p>
    		<pre><code>{{codes.createRecipe}}</code></pre>
    	</div>
    	<div id="deleteRecipe">
    		<h2>Deleting a Recipe</h2>
    		<p>To delete a recipe, send a DELETE request to /recipe/{recipe-id}</p>
    		<p>Only admin or the author of the recipe can perform this action</p>
    		<pre><code>{{codes.deleteRecipe}}</code></pre>
    	</div>
    </div>
</body>
</html>